.center_card {
    margin: auto;
    width: 50%;
    padding: 10px;
}
h2{
    color: blue;
}
th{
    background-color: orange;
    color: white;
    border: 1px white solid;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.text-blue{
    color: blue;
}
.text-red{
    color: red;
}
tr{
    height: 30px;
}
th,td {
    width: 65px;    
}
.border-table{
    border: 1px solid gray;
}
table{
    border-collapse: collapse;
}
body{
    text-align: center;

}
.fs-10{
    font-size: 10px;
}